body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* final project */
.logo {
  float: left;
  width: 70px;
  height: 45px;
  margin: 10px 20px 10px 0;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.container {
  place-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px;
}

.container .images {
  width: 250px;
  height: 350px;
  object-fit: cover;
}

input[type="text"],
input[type="number"],
input[type="url"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.form-input {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
}
